<html>
<head></head>

<body onload="returnToLogin()">


	<% mail.sendPassword( document.getElementById("email"), "D"); %>
	<script>
		function returnToLogin() {
			location.replace("http://localhost:8080/project_1/login.html");
			alert("A link to reset your password has been sent to the email connected to this account.");
		}
	</script>
</body>
</html>
